body {
  padding: 12px 20px 12px 20px;
  color: #000;
  background: #fff;
}

body {
  font-family: 'Arvo', serif;
  font-size: 0.85em;
  line-height: 1.25em;
}

p { 
  margin: 0px 12px 12px 0px; 
  text-align: justify;
}

h1 {
  font-size: 1.40em;
  font-weight: bold;
  margin: 0 0 15px 0;
}

h2 {
  font-family: 'Arvo', serif;
  font-size: 1.20em;
  font-weight:bold;
  margin: 0 0 15px 0;
}

h3 {
  font-size: 1.00em;
  font-weight:bold;
  margin: 0 0 10px 0;
}

table, tr, td { 
  margin: 0; padding: 0; 
}

td { 
  padding: 0px 10px 0px 0px; 
}

#main { 
  margin-left: 230px; 
}

a, a.visited {
  color: #224b8d;
  text-decoration: none;
}

a:hover {
  background-color:#eee;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('https://abhi.co/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}

#shell-panel {
  height: 500px;
  background-color: #224b8d;
  color: #90d299;
  padding: 20px 20px 20px 20px;
  font-family: 'Arvo', serif;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

code, pre, .codelike { font-family: 'Arvo', serif; }